{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h4>Login to CampusIQ</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Login</button>
                        <a href="{% url 'signup' %}" class="btn btn-link">Create an account</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}